body{
    background-color: #00008B;
}

.img_topo{
    width: 100%;
}

.img_corpo{
    width: 40%;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    font-size: 2.5em;
    color: aquamarine;
}
p{
    font-size: 1.5em;
    text-align: justify;
    text-indent: 550px;
}
h2{
    font-size: 2.0em;
    text-indent: 550px;
}
.botao{
    background-color: #00008B;
    color: black;
    width: 100em;
    height: 50px;
}
.botao p{
    padding-top: 11px;
}
.parag_meucaos > p{
    color: azure;
}
footer{
    background-color: blueviolet;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer p{
    color: aquamarine;
    font-weight: bold;
    font-size: 1em;
}

.center{
    text-align: center;

}