body{
    background-color: #b1b1e9;
}

.img_topo{
    width: 100%;
    height: 80%
}

.img_corpo{
    width: 30%;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    font-size: 2.5em;
    color: aquamarine;
    padding: 1%
}
p{
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
}
h2{
    font-size: 2.0em;
    padding: 1%;
    text-align: center;
}
.menu{
    background-color: rgb(78, 6, 85);
    padding: 1%;
}
.itens_menu{
    text-align: center;
    font-size: 1.2em;
}
.logo{
    font-size: 1.5em;
}
figure{
    text-align: center;
}
footer{
    background-color: aliceblue;
    padding: 1%;
}

